:root {
    --background-color: #ecfeff;
    --dashboard-color: #06b6d4;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
}

.container div {
    padding: 25px;
}

.dashboard {
    grid-row: 1 / -1;
    background-color: var(--dashboard-color);
    color: white;
}

.projects-area {
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--background-color);
}

.projects {
    
}

.announcements {
    grid-column: -1;
}

.trending {
    grid-column: -1;
}