:root {
    --background-color: #ecfeff;
    --dashboard-color: #06b6d4;
}

body {
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
}

.container div {
    padding: 25px;
}

.dashboard {
    grid-row: 1 / -1;
    background-color: var(--dashboard-color);
    color: white;
}

.dashboard-link-area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

    align-items: center;
    height: 2rem;

    margin-bottom: 20px;
}

.dashboard-link-area img {
    justify-self: end;

    height: 2rem;
    cursor: pointer;
}

/* Without .dashboard-link-area this class gets overriden */
.dashboard-link-area .dashboard-logo {
    height: 3rem;
    cursor: pointer;
    justify-self: end;
}

.dashboard-logo-area {
    margin-bottom: 45px;
}

.dashboard-link-area p, h1 {
    margin-left: 20px;
}

.dashboard-link-area p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dashboard div {
    padding: 0;
}

.communities-link {
    margin-bottom: 50px;
}

.user-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    align-items: center;
}

.user-area div {
    padding: 0;
}

.search-area {
    display: flex;
    align-items: center;
}

.search-area img {
    height: 2rem;
}

.search-area input {
    margin-left: 10px;
    width: 80%;
    height: 1.5rem;
    padding-left: 10px; /* so you can see the cursor */
    padding-right: 10px; /* so you can see the delete button */ 

    border-radius: 20px;
    border: none;
    background-color: #e0dddd;
}
.search-area input:focus {
    outline: none;
}

.profile-area {
    display: flex;
    align-items: center;
}

.bell-icon {
    height: 1.5rem;
}

.pa-profile {
    height: 5rem;
}

.main-profile-area {
    display: flex;
    align-items: center;
}

.profile-greeting {
    margin-left: 10px;
}

.username {
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.5rem;
}

.projects-area {
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--background-color);
}

.projects {

}

.announcements {
    grid-column: -1;
}

.trending {
    grid-column: -1;
}