:root {
    --background-color: #ecfeff;
    --dashboard-color: #06b6d4;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
}

.container > div {
    padding: 25px;
}

.dashboard {
    grid-row: 1 / -1;
    background-color: var(--dashboard-color);
    color: white;
}

.dashboard-link-area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

    align-items: center;
    height: 2rem;

    margin-bottom: 20px;
}

.dashboard-link-area img {
    justify-self: end;

    height: 2rem;
    cursor: pointer;
}

/* Without .dashboard-link-area this class gets overriden */
.dashboard-link-area .dashboard-logo {
    height: 3rem;
    cursor: pointer;
    justify-self: end;
}

.dashboard-logo-area {
    margin-bottom: 45px;
}

.dashboard-link-area p, h1 {
    margin-left: 20px;
}

.dashboard-link-area p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dashboard div {
    padding: 0;
}

.communities-link {
    margin-bottom: 50px;
}

.user-area {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    align-items: center;
}

div.user-area {
    padding: 5px 20px;
}

.user-area div {
    padding: 0;
}

.search-area {
    display: flex;
    align-items: center;
}

.search-area img {
    height: 2rem;
}

.search-area input {
    margin-left: 10px;
    width: 90%;
    height: 1.5rem;
    padding-left: 10px; /* so you can see the cursor */
    padding-right: 10px; /* so you can see the delete button */ 

    border-radius: 20px;
    border: none;
    background-color: #e0dddd;
}
.search-area input:focus {
    outline: none;
}

.profile-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-area p {
    cursor: pointer;
    font-weight: bold;
}

.bell-icon {
    height: 1.7rem;
    cursor: pointer;
}

.pa-profile {
    height: 5rem;
    cursor: pointer;

    padding: 0px 10px;
}

.main-profile-area {
    display: flex;
    align-items: center;
}

.profile-greeting {
    margin-left: 10px;
}

.username {
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.5rem;
}

.button-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    column-gap: 25px;
}

.button-area button {
    border: none;
    border-radius: 20px;
    color: white;
    background-color: var(--dashboard-color);
    cursor: pointer;

    height: 2rem;
}

.projects-area {
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 7fr 1fr;
    background-color: var(--background-color);
}

.projects-area > div {
    padding: 0;
}

.project-items {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px 20px;
}

.project {
    height: 200px;
    border: 1px solid grey;

    border-radius: 10px;

    border-left: 10px solid #2dd4bf;
    padding: 20px;
}

.project h1 {

}

.announcements {
    grid-column: -1;
}

.trending {
    grid-column: -1;
}